<!--container do login -->
<div id="container-login" class="flex justify-center items-center min-h-screen shadow-ls">
    <!--Container para os inputs do login -->
    <div id="container-box-login" class="">
        <!-- div usada para a tag da logo do sistema -->
        <div id="box-login-logo" class="">
            <img src="assets/prisma.png" alt="Logo">
        </div>
        <!-- div usada para o formulário do login -->
    <form action="" method="">
        <!-- Container do formulário do login -->
            <div id="form-login" class="">
                <!-- div usada para a descrição do formulário do login -->
            <div id="descr" class="">
                <h1 class="">Login</h1>
                <p class="">Por favor, insira suas credenciais para acessar o sistema.</p>
            </div>
            <!-- div usada para os inputs do formulário do login -->
            <div id="input-login" class="">
                <input class="" type="email" name="email" id="email" placeholder="Email">
                <input class="" type="password" name="password" id="password" placeholder="Senha">
                <button class="" id="btn-login">Entrar</button>
            </div>
            </div>
    </form>
    </div>
</div>
     

